version: '3.9'

services:
  db:
    image: postgres:15
    container_name: xnerd_db_container
    restart: always
    volumes:
      - postgres_data:/var/lib/postgresql/data
    env_file:
      - .env
    ports:
      - "5432:5432"

  backend:
    build: .
    container_name: xnerd_backend_container
    restart: always
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - db

# ESTA PARTE É OBRIGATÓRIA E DEVE FICAR NA MARGEM ESQUERDA (SEM ESPAÇOS)
volumes:
  postgres_data: